<div nz-flex [nzVertical]="isVertical">
    <div class="flex-item" *ngFor="let stage of stages">
        <div class="content">
            <p class="board-title">{{stage.name}}</p>
            <nz-card class="card-body" *ngFor="let ticket of getTicketsForTheStage(stage.value)">
                <nz-tag [nzColor]="getPriorityColor(ticket.priority)">{{ticket.priority}}</nz-tag>
                <p class="title">{{ticket.title}}</p>
                <p class="description">{{ticket.description}}</p>
            </nz-card>
        </div>
    </div>
</div>