.flex-item {
  height: 100%;
  padding: 10px;
  inline-size: 33%;
  block-size: 54px;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-width: 0 1px 0 1px;

  .board-title {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .count {
    font-size: smaller;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;

  .title {
    font-weight: bold;
    font-size: large;
  }

  .action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nz-select {
      width: 25%;
    }
  }
}
